@model Employer
@{
	ViewBag.Title = "Edit Employer";
}

<form method='post' role='form' class='form-horizontal'>
	@Editor(Html.Metadata(x => x.Id, "Id"))
	@Editor(Html.Metadata(x => x.Organization, "Organization"))
	@Editor(Html.Metadata(x => x.Address, "Address"))
	@Editor(Html.Metadata(x => x.City, "City"))
	@Editor(Html.Metadata(x => x.State, "State"))
	@Editor(Html.Metadata(x => x.Zip, "Zip"))
	@Editor(Html.Metadata(x => x.Phone, "Phone"))
	@Editor(Html.Metadata(x => x.Phone2, "Phone (alt)"))
	@Editor(Html.Metadata(x => x.Email, "Email"))
	@Editor(Html.Metadata(x => x.ContactFirstName, "Contact First name"))
	@Editor(Html.Metadata(x => x.ContactLastName, "Contact Last name"))
	@Editor(Html.Metadata(x => x.ContactTitle, "Contact Title"))
	@Editor(Html.Metadata(x => x.Positions, "# Positions Available"))
	<div class='form-group'>
		<div class='col-lg-offset-2 col-lg-10'>
			<button type='submit' class='btn btn-primary'><span class='glyphicon glyphicon-floppy-disk'></span> Save Employer</button>
			<button type='button' onclick='window.location="/employers"' class='btn btn-default'><span class='glyphicon glyphicon-list'></span> Back to List</button>
		</div>
	</div>
</form>

<form method='post' role='form' action='/unassign/@Model.Id'>
	<hr/>
	<h3>Interns</h3>
	<div>Filled <b>@ViewBag.Interns.Count</b> of <b>@(Model.Positions??0)</b> desired positions</div>
	<div class="table-responsive">
		<table class='table table-condensed table-striped table-hover'>
			<thead>
				<tr>
					<th>Unassign</th>
					<th>Id</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var m in ViewData.Get<List<InternInfo>>("Interns"))
				{
					<tr>
						<td><button type='submit' name='InternId' value='@m.InternId' class='btn btn-xs btn-default'>Unassign</button></td>
						<td><a href='/intern/@m.InternId' target='_blank'>@m.InternId</a></td>
						<td>@m.FullName</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</form>

@helper Editor(ModelMetadata metadata, object attrs = null) {
	<div class='form-group'>
		<label for='@metadata.PropertyName' class='col-lg-2 control-label'>@metadata.DisplayName</label>
		<div class='col-lg-10'>@Html.Editor(metadata, new RouteValueDictionary(attrs).Set("class", "form-control"))</div>
	</div>
}
