@model Employer
@{
	ViewBag.Title = "Edit Employer";
}

<form method='post' role='form' class='form-horizontal'>
	@Editor(Html.Metadata(x => x.Id, "Id"))
	@Editor(Html.Metadata(x => x.Organization, "Organization"))
	<div class='form-group'>
		<div class='col-lg-offset-2 col-lg-10'>
			<button type='submit' class='btn btn-primary'><span class='glyphicon glyphicon-floppy-disk'></span> Save Employer</button>
			<button type='button' onclick='window.location="/employers"' class='btn btn-default'><span class='glyphicon glyphicon-list'></span> Back to List</button>
		</div>
	</div>
</form>

@helper Editor(ModelMetadata metadata, object attrs = null) {
	<div class='form-group'>
		<label for='@metadata.PropertyName' class='col-lg-2 control-label'>@metadata.DisplayName</label>
		<div class='col-lg-10'>@Html.Editor(metadata, new RouteValueDictionary(attrs).Set("class", "form-control"))</div>
	</div>
}
